/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* sfondo pagina */
body{
  background-color: blue;
}
/* margini form e intestazioni */
main{
  margin: 50px 200px;
  text-align: center;
}
.square{
  background-color: white;
  border-radius: 20px;
  min-height: 200px;
  margin: 10px 0;
}
.compila{
  padding: 20px 100px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.square_biglietto{
  text-align: left;
  background-color: white;
  /* min-height: 200px; */
  padding: 15px 10px;
}
.dati_passeggero{
  padding: 10px;
  background-color: grey;
  min-height: 200px;
  width: 30%;
  float: left;
}
.dati_biglietto{
  padding: 15px;
  background-color: yellow;
  min-height: 200px;
  width: 70%;
  float: left;
}
ul[style*="font-"]{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}
ul[style*="font-"] li{
 list-style-type: none;
}
